/.DS_Store
/8871.gif
/B.G_Template_1.gif
/Code_Template.gif
/Earth_Template.gif
/G.U.I Material
/JARVISUI.py
/JARVISUI.ui
/JarvisGUI.py
/PyWhatKit_DB.txt
/Solid_black.png
/Using pyttsx3 — pyttsx3 2.6 documentation.pdf
/__pycache__
/initial.gif